.mycss-sbar{
    background-color: #2c3e50 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 270px;
    overflow: hidden !important;
    padding: 0.6rem;
}

#mycss-sbar-text{  
    color: green !important;
}

/* @media screen and (min-width:780px){
    .mycss-sbar{
        width: 20vw;
    }
} */

@media screen and (min-width:640px){
    .mycss-sbar{
        width: 22vw;
    }
}